body {
	font-family: 'PT Sans';
}

#title-word:nth-child(1) {
	color: #4170A5;
}

#title-word:nth-child(2) {
	color: #FDBB56;
}

#title-word:nth-child(3) {
	color: #B6EC50;
}

#title-word:nth-child(4) {
	color: #CD4690;
}

#titletron {
	padding-left: 30px;
	padding-bottom: 10px;
	margin-top: 0px;
	padding: 10 20 10 20;
}

#navbar {
	background-color: #638FC0;
	font-size: 20px;
	padding: 0 20 0 20;
	font-family: Anton;
	margin-bottom: 0px;
}

.nav.navbar-nav li a {
    color: #15457B;
}

.Anton {
	font-family: Anton;
}

.Fjalla {
	font-family: 'Fjalla One';
}

.topic {
	border-radius: 10px;
	text-align: left;
	padding: 5 10 5 10;
	margin-top: 10px;
}

.topics-col {
	padding: 10 10 0 10;
}

#choose-color {
	border: none;
}

#targ {
	height: 30px;
	border-radius: 0px;
	border-top: 2px;
	border-bottom: 2px;
	background-color: white;
}

.textbox-button {
	padding: 0 0 0 0;
	overflow: hidden;
    position: relative;
}

#pick-color {
	height: 200%;
	width: 50%;
}

.color-list {
	height: 20px;
}

.color-list#blue{
	background-color: #4170A5;
}

.color-list#orange{
	background-color: #FDBB56;
}

.color-list#green{
	background-color: #B6EC50;
}

.color-list#pink{
	background-color: #CD4690;
}

.chat-bar {
	
	background-color: #DC69A8;
   	bottom: 0;
    width: 100%;
    left: 0px;
    position: fixed;
}

.chat-window{
	height: 400px;
	background-color: red;
	width: 270px;
	position: absolute;
	bottom: 0px;
	display: inline-block;
}

.message-text {
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 1px solid black;
	height: 30px;
	width: 240px;
}

.send-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 30px;
	width: 30px;
	border: 1px solid black;

}

.chat-top {
	height: 30px;
	background-color: orange;
	padding: auto;
    width: 100%;
}

.chat-log {
	background-color: purple;
	height: 340px;
	overflow: scroll;
}

.message {
	margin: 5px;
	width: 50px;
	height: 50px;
	background-color: gray;
}

.chat-window-buttons {
	position: absolute;
	right: 0px;
	width: 60px;
}

.chat-window-buttons > button {
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: none;
}

.chat-top-text {
	position: absolute;
	left: 0px;
	width: 190px;
	padding-top: 5px;
	text-align: left;
	padding-left: 5px;
}

#chat-list {
	right: 20px;
}

#c1 {
	right: 320px;
}

#c2 {
	right: 620px;
}

#c3 {
	right: 920px;
}

#c4 {
	right: 1220px;
}