body {
	font-family: 'PT Sans';
}

#title-word:nth-child(1) {
	color: #4170A5;
}

#title-word:nth-child(2) {
	color: #FDBB56;
}

#title-word:nth-child(3) {
	color: #B6EC50;
}

#title-word:nth-child(4) {
	color: #CD4690;
}

#titletron {
	padding-left: 30px;
	padding-bottom: 10px;
	margin-top: 0px;
	padding: 10 20 10 20;
}

#navbar {
	background-color: #638FC0;
	font-size: 20px;
	padding: 0 20 0 20;
	font-family: Anton;
	margin-bottom: 0px;
}

.nav.navbar-nav li a {
    color: #15457B;
}

.Anton {
	font-family: Anton;
}

.Fjalla {
	font-family: 'Fjalla One';
}

.topic {
	border-radius: 10px;
	text-align: left;
	margin-top: 15px;
	padding: 5 10 5 10;
}

.topics-col {
	padding: 10 10 0 10;
}

#choose-color {
	border: none;
}

#targ {
	height: 30px;
	border-radius: 0px;
	border-top: 2px;
	border-bottom: 2px;
	background-color: white;
}

.textbox-button {
	padding: 0 0 0 0;
	overflow: hidden;
    position: relative;
}

#pick-color {
	height: 200%;
	width: 50%;
}

.color-list {
	height: 20px;
}

.color-list#blue{
	background-color: #4170A5;
}

.color-list#orange{
	background-color: #FDBB56;
}

.color-list#green{
	background-color: #B6EC50;
}

.color-list#pink{
	background-color: #CD4690;
}

.chat-bar {
	background-color: #DC69A8;
   	bottom: 0;
    width: 100%;
    left: 0px;
    position: fixed;
}

.chat-window{
	height: 400px;
	background-color: red;
	width: 270px;
	position: absolute;
	bottom: 0px;
	display: inline-block;
}

.message-text {
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 1px solid black;
	height: 30px;
	width: 240px;
}

.send-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 30px;
	width: 30px;
	border: 1px solid black;

}

.chat-top {
	height: 30px;
	background-color: #638FC0;
	padding: auto;
    width: 100%;
}

.chat-log {
	background-color: #dddddd;
	height: 340px;
	overflow: scroll;
	border: 1px solid black;
	border-bottom: none;
	padding: 10px;
	font-size: 15px;
}

.chat-window-buttons {
	position: absolute;
	right: 0px;
	width: 60px;
	padding: 2px;
}

.chat-window-buttons > button {
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: none;
	display: inline-block;
}

.chat-top-text {
	position: absolute;
	left: 0px;
	width: 190px;
	padding-top: 5px;
	text-align: left;
	padding-left: 5px;
}

.chat-right {
	right: 320px;
}

.chat-middle {
	right: 620px;
}

.chat-left {
	right: 920px;
}

#c4 {
	right: 1220px;
}

/*
	Chat List
*/

#chat-list-window {
	height: 400px;
	background-color: #EB98C6;
	width: 270px;
	position: absolute;
	bottom: 0px;
	display: inline-block;
	right: 20px;
}

.chat-list-item {
	background-color: #FFCA7A;
	height: 60px;
	border: 1px solid black;
	border-bottom: none;
	padding: 0px;
	position: relative;
}

.info {
	display: inline-block;
	height: 100%;
	width: 170px;
	margin: 0 0 0 20;
	position: absolute;
}

.new-message {
	display: inline-block;
	height: 100%;
	margin: 0px;
	width: 70px;
	position: absolute;
	right: 0px;
	padding: 20px;
}

.info > h4 {
	position: relative;
}

.info > h3 {
	position: relative;
}

.new-message-dot {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: #BC2678;
}

#chat-list {
	overflow: scroll;
	height: 370px;
}

.sent-message {
	position: relative;
	width: 70%;
	left: 30%;
	border-radius: 5px;
	background-color: #B6EC50;
	padding: 3px;
}

.recieved-message {
	position: relative;
	width: 70%;
	border-radius: 5px;
	background-color: #FDBB56;
	padding: 3px;
}

.message {
	margin-bottom: 10px;
	position: relative;
}

