{% if chat.id == None %}
<div class="chat-window" id="chat-new-{{chat.topic.id}}">
{% else %}
<div class="chat-window" id="chat-{{chat.id}}">
{% endif %}
	<div class="chat-top {{chat.topic.color}}">
		<p class="chat-top-text">{{chat.topic.text}}</p>
		<div class="chat-window-buttons">
			{% if chat.id == None %}
			<button class="minimize-chat" id="minimize-new-{{chat.topic.id}}">-</button>
			<button class="close-chat" id="close-new-{{chat.topic.id}}">X</button>
			{% else %}
			<button class="minimize-chat" id="minimize-{{chat.id}}">-</button>
			<button class="close-chat" id="close-{{chat.id}}">X</button>
			{% endif %}
		</div>
	</div>
	<div class="chat-log">
		{% for message in chat.messages.all %}
		<div class="message">
		{% if message.sender == user.user_profile %}
			<div class="sent-message">
		{% else %}
			<div class="recieved-message">
		{% endif %}
				<p>{{message.text}}</p></div>
		</div>
		{% endfor %}
		


	</div>
	{% if chat.id == None %}
	<form class="send-message" id="send-new-message-new-{{chat.topic.id}}">
	{% else %}
	<form class="send-message" id="send-new-message-{{chat.id}}">
	{% endif %}
	
		<input autocomplete="off" class="message-text" type="text" name="message"/>
		<button class="send-button" type="submit">
			<span class="glyphicon glyphicon-menu-right"></span>
		</button>
	</form>
</div>