<div class="col-md-offset-2 col-md-8">
	<h3 style="font-style:italic">What do you want to talk about?</h3>
	<div class="row">
		<form id="topic-proposal">
			<div class="input-group">
		    	<span class="input-group-btn">
		    		<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Color <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" id="color-dropdown">
							<li class="color-list blue"></li>
							<li class="color-list orange"></li>
							<li class="color-list green"></li>
							<li class="color-list pink"></li>
						</ul>
					</div>
				</span>
				<input name="new-topic" autocomplete="off" type="text" class="form-control blue" placeholder="How's the weather? Did you see the game last night?">
				<span class="input-group-btn">
					<input class="btn btn-secondary" type="submit" value="Submit">
				</span>
			</div>
		</form>
	</div>
</div>